
@{
    ViewBag.Title = "RANDOM USER GENERATOR";
}
@*<center>
    <h2>RANDOM USER GENERATOR</h2>
</center>*@
<style>
    .box-header {
        border-top: 2px solid;
    }
body{
    text-align: center;
}
</style>

<br />
<br />
<br />

<main>
    <div class="panel panel-primary">
        

        <ul v-for="persona in personas">
            <div class="panel-heading">

                <h3 class="panel-title">
                    <img v-bind:src="persona.picture.thumbnail" alt="">
                    <br />
                    Hello, My Name is: {{persona.name.first}} {{persona.name.last}}
                </h3>
        
</div>
            <div class="panel-body">
                <br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                My email address is: {{persona.email}}
                <br />
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                My birthday is: {{persona.dob}}
                <br />
                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                My address is: {{persona.location.city}}, {{persona.location.street}}
                <br>
                <i class="fa fa-phone" aria-hidden="true"></i>
                My phone number is: {{persona.phone}}
                <br />
                <i class="fa fa-mobile" aria-hidden="true"></i>
                my cellphone: {{persona.cell}}
                <br />
                <i class="fa fa-id-badge" aria-hidden="true"></i>
                My ID: {{persona.id.value}}
                <br />
                <i class="fa fa-users" aria-hidden="true"></i>
                My nationality is : {{persona.nat}}

            </div>




        </ul>
    </div>
        <a class="btn btn-default" href="#" onclick="javascript:window.location.reload();">
            <i class="fa fa-refresh fa-spin fa-fw"></i>refresh
        </a>
      
 


    @*<pre>{{$data}}</pre>*@
</main>

<script type="text/javascript">
    function reFresh(){
        location.reload(true);
} 
    window.setInterval("reFresh()", 300000)
</script>