
@{
    ViewBag.Title = "Radom User Generator";
}
@*<center>
        <h2>RANDOM USER GENERATOR</h2>
    </center>*@
<main>
    <div v-for="persona in personas" class="row">
        <div class="profile">
            <div class="col-sm-2 col-sm-offset-3 text-center">
                <img v-bind:src="persona.picture.large" alt="User Profile picture" class="img-circle">
                <button id="button" type="button" href="#" onclick="javascript:window.location.reload();" class="btn btn-primary"><i class="fa fa-random"></i> Random User</button>
            </div>
            <div class="col-sm-5">
                <h1 class="text-capitalize">{{persona.name.first}} {{persona.name.last}} <br /><small>{{persona.location.state}}, {{persona.location.city}}</small></h1>
                <hr />
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>Email</th>
                            <td>{{persona.email}}</td>
                        </tr>
                        <tr>
                            <th>Birthday</th>
                            <td>{{persona.dob}}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{persona.phone}}</td>
                        </tr>
                        <tr>
                            <th>Cellphone</th>
                            <td>{{persona.cell}}</td>
                        </tr>
                        <tr>
                            <th>Nationality</th>
                            <td>{{persona.nat}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @*<pre>{{$data}}</pre>*@
</main>

<script type="text/javascript">
    function reFresh() {
        location.reload(true);
    }
    window.setInterval("reFresh()", 300000)
</script>